.firstheader{
    text-align: center;
    color: red;
    font-family: Helvetica;
}
.recipeslist{
    text-align: center;
    font-family: Georgia;
}
#lasagnaitem{
    border: none;
    color:black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.5s;
    width: 150px;
}
#lasagnaitem:hover {
    background-color:coral;
    color: white;
}
#chickenitem{
    border: none;
    color:black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.5s;
    width: 150px;
}
#chickenitem:hover{
    background-color: darkorange;
    color: white;
}
#steakitem{
    border: none;
    color:black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.5s;
    width: 150px;
}
#steakitem:hover{
    background-color: sienna;
    color: white;
}
